<a href="https://colab.research.google.com/github/NOURDINEEEE/Data_Science_Project1/blob/main/Data_analysis_TT_Colab_GitHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- http://colab.research.google.com/github/googlecolab/colabtools/blob/main will let you browse ``main`` branch of the ``colabtools`` repository within the ``googlecolab`` organization. (don't forget the ``blob`` here!) You can specify any valid branch for any valid repository.
http://colab.research.google.com/github/NOURDINEEEE

  https://github.com/NOURDINEEEE

In [1]:
#@title
x = range(10)
x

range(0, 10)

In [11]:
Date = "2023-03-29" #@param {type:"date"} { run: "auto" }
print(Date)

2023-03-29

In [14]:
STI = 60 #@param {type:"slider", min:0, max:100, step:1} { run: "auto" }
print(STI)

60

In [21]:
#@title After running this cell manually, it will auto-run if you change the selected value. { run: "auto" }
Date2 = "2023-03-10" #@param {type:"date"}

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

sh = gc.create('My cool spreadsheet')

In [38]:
worksheet = gc.open('My cool spreadsheet').sheet1

cell_list = worksheet.range('A1:C2')

import random
for cell in cell_list:
  cell.value = random.randint(1, 10)

worksheet.update_cells(cell_list)

{'spreadsheetId': '16USc73y4wThtvtKeWiu2GYDGQ_pLS-Ecxh2vACyHa-Y',
 'updatedRange': "'Feuille 1'!A1:C2",
 'updatedRows': 2,
 'updatedColumns': 3,
 'updatedCells': 6}

In [39]:
worksheet = gc.open('My cool spreadsheet').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

import pandas as pd
pd.DataFrame.from_records(rows)

[['7', '2', '9'], ['6', '2', '8']]

   0  1  2
0  7  2  9
1  6  2  8

In [43]:
project_id = 'vocal-airline-381819'

In [44]:
from google.colab import auth
auth.authenticate_user()

In [45]:
!gcloud config set project {project_id}

Updated property [core/project].

In [46]:
with open('/tmp/to_upload.txt', 'w') as f:
  f.write('my sample file')

print('/tmp/to_upload.txt contains:')
!cat /tmp/to_upload.txt

/tmp/to_upload.txt contains:
my sample file

In [50]:
!gsutil mb gs://{bucket_data_analysis} #creation nouveau bucket
!gsutil cp /tmp/to_upload.txt gs://bucket_data_analysis/

InvalidUrlError: Invalid bucket name in URL "{bucket_data_analysis}".
Copying file:///tmp/to_upload.txt [Content-Type=text/plain]...
-
Operation completed over 1 objects/14.0 B.

In [52]:
!gsutil cat gs://bucket_data_analysis/to_upload.txt

my sample file

In [53]:
!gsutil cp gs://bucket_data_analysis/to_upload.txt /tmp/gsutil_download.txt
  
# Imprimez le résultat afin de vous assurer que le transfert a été effectué.
!cat /tmp/gsutil_download.txt

Copying gs://bucket_data_analysis/to_upload.txt...
/ [1 files][   14.0 B/   14.0 B]
Operation completed over 1 objects/14.0 B.
my sample file